#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#game-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#control-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#minesweeper-field{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.button{
    cursor: pointer;
}
.square{
    background-color: white;
    border-radius: 5px;
}
.square:hover{
    background-color: gray;
    cursor: pointer;
}