#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#control-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#minesweeper-field{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.button{
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-size: cover;
}
#control-buttons .button:hover{
    animation-name: rotation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    100%{
        transform: rotate(360deg);
    }
}
.square{
    border-radius: 5px;
    margin: 1px;
    position: relative;
    overflow: hidden;
}
.non-activated-square{
    background-size: cover;
    background-color: rgba(170,170,230,0.85);
}

.non-activated-square:hover{
    background-color: rgba(150,160,255,0.95);
    cursor: pointer;
}
.non-activated-square:active{
    background-color: rgba(200,210,255,0.85);
}

.activated-square{
    font-size: calc(1em + 1vw);
    background-color: rgba(255,255,255,0.55);
    text-align: center;
    user-select: none;
    text-shadow: 1px 1px 2px black;
}
a{
    color: white;
}
#reset-button{
    background-image: url("../images/reset.png");
}
#settings-button{
    background-image: url("../images/settings.png");
}
#github{
    background-image: url("../images/github.png");
    width: 50px;
    height: 50px;
}
#timer{
    width: 100px;
}

.mine{
    width: 100%;
    height: 100%;
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.explosion{
    width: 100%;
    height: 100%;
    user-select: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.win-effect{
    width: 10%;
    height: 150%;
    background: rgb(0,212,255);
    animation-name: translateWinEffect;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}
@keyframes translateWinEffect {
    from{
        transform: rotate(135deg) scale(1.5) translateX(20px);
    }
    to{
        transform: rotate(135deg) scale(1.5) translateX(-120px);
    }
}