#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#game-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#control-buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#minesweeper-field{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.button{
    cursor: pointer;
}
.square{
    background-color: rgba(170,170,230,0.85);
    border-radius: 5px;
    margin: 1px;
}
.square:hover{
    background-color: rgba(150,160,255,0.95);
    cursor: pointer;
}
.square:active{
    background-color: rgba(200,210,255,0.85);
}
.clicked-square{
    background-color: rgba(255,255,255,0.55);
}